AWS_REGION= eu-central-1 (example)
AWS_PROFILE=
GENESYS_REGION=mypurecloud.com (example)
GENESYS_CLIENT_ID=enter your client id
GENESYS_CLIENT_SECRET=enter clinet secret
GENESYS_API_HOST=https://api.mypurecloud.ie (ex)
GENESYS_REDIRECT_URI=http://localhost:5173/callback (ex)
GENESYS_SCOPES=openid users:readonly queues:readonly (ex)
GENESYS_LOGIN_ENDPOINT=login.mypurecloud.ie (ex)

FRONTEND_URL=http://localhost:5173 (ex)